body {
    font-family: Arial, sans-serif;
    background-color: #FFF3E0; /* Light gray background */
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
}

label {
    color:#ff7e5f;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 15px;
}


.btn {
    background: #333;
    color: #ff7e5f;
    font-weight: bold;
    border: 1px solid white;
}

.btn:hover {
    background: #ff7e5f;
    color: white;
    border: 1px solid #ff7e5f;
}

/* In your static CSS file (e.g., register.css) or in the <style> section of your HTML */
.custom-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.custom-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-submit {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #0056b3;
}
