{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>UnLone</title>
    <link rel="stylesheet" href="{% static 'css/ok.css' %}">
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <img id="logoimg" src="{% static 'img/logo.jpg' %}" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#resources">Resources</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                    <span class="welcome-text"><h3 id="welcome">Welcome, {{ user.username|capfirst }}!</h3></span><br><br>
                    <form method="post" action="{% url 'logout' %}" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                {% else %}
                    <button id="loginButton" class="login-btn">Login</button>
                    <button id="registerButton" class="register-btn">Register</button>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="quote-section">
        <blockquote id="quote"></blockquote>
    </div>

    <div class="video-section">
        <h2>Watch These Helpful Videos</h2>
        <div class="videos">
            <iframe width="350" height="250" src="https://www.youtube.com/embed/d7NPnvKFs2Y" title="Understanding Depression: Symptoms, Causes and Treatments" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <iframe width="350" height="250" src="https://www.youtube.com/embed/3QIfkeA6HBY" title="8 Things You Can Do To Improve Your Mental Health" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="350" height="250" src="https://www.youtube.com/embed/gyQX6bU1NIY" title="4 Ways to Cope With Depression" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="350" height="250" src="https://www.youtube.com/embed/rkZl2gsLUp4" title="How to manage your mental health | Leon Taylor | TEDxClapham" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <!-- Book Recommendations Slider -->
    <div class="recommendations">
        <h2>Recommended Books</h2>
        <div class="card-group">
            <div class="card">
              <img src="https://thedepressionproject.com/cdn/shop/files/ThisIsHowYouOvercomeDepression-AGuidedTreatmentPlan.png?v=1692355147" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">This Is How You Overcome Depression</h5>
                <p class="card-text">Offers practical strategies to understand and overcome depression, focusing on resilience and emotional balance through relatable advice and self-help techniques.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://thedepressionproject.com/cdn/shop/files/HowToOvercomeYourNegativeThoughts-byTheDepressionProject.png?v=1697026847" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">How To Overcome Your Negative Thoughts</h5>
                <p class="card-text">Provides actionable methods to recognize and reframe negative thoughts, helping readers build a healthier, more optimistic mindset.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://thedepressionproject.com/cdn/shop/files/How-To-Explain-Depression-To-Your-Loved-Ones-version-2.png?v=1695051481" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">How To Explain Depression To Your Loved Ones</h5>
                <p class="card-text">Guides readers on communicating their experience of depression to family and friends, fostering empathy and support through clear and compassionate explanations.</p>
              </div>
            </div>
            <div class="card">
                <img src="https://images4.penguinrandomhouse.com/cover/9780593329993" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Enchantment</h5>
                  <p class="card-text">Explores how to rediscover joy and meaning in everyday life, inspiring readers to find wonder, creativity, and connection through mindfulness and openness.</p>
                  </div>
              </div>
              <div class="card">
                <img src="https://images3.penguinrandomhouse.com/cover/9780593193686" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Good Enough</h5>
                  <p class="card-text">Encourages embracing imperfections and valuing self-acceptance, offering a reassuring perspective on being “good enough” instead of chasing perfection.</p>
                  </div>
              </div>
              <div class="card">
                <img src="https://images1.penguinrandomhouse.com/cover/9780525561613" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">More Than Enough</h5>
                  <p class="card-text">A powerful book on self-worth, encouraging readers to believe in their own potential, pursue their dreams, and live confidently as their true selves.</p>
                  </div>
              </div>
          </div>

          <br><br><br><br>
    </div>

    <footer>
        <p>&copy; 2024 Unlone. All rights reserved.</p>
    </footer>

    <script>
        let slideIndex = 0;

        function moveSlide(step) {
            const slides = document.querySelectorAll('.slide');
            const totalSlides = slides.length;
            slideIndex += step;

            if (slideIndex < 0) {
                slideIndex = totalSlides - 1;
            } else if (slideIndex >= totalSlides) {
                slideIndex = 0;
            }

            const slider = document.querySelector('.slider');
            slider.style.transform = `translateX(-${slideIndex * 300}px)`; // Adjust the slide width here (300px)
        }

        const quotes = [
            "Believe you can and you're halfway there.",
            "Don't watch the clock; do what it does. Keep going.",
            "Success is not the key to happiness. Happiness is the key to success.",
            "You are never too old to set another goal or to dream a new dream.",
            "Act as if what you do makes a difference. It does.",
            "Please remember that you’re capable, brave and loved – even when it feels like you’re not.",
            "Do not give the past the power to define your future.",
            "Perhaps you’ve been assigned this mountain to show others that it can be moved.",
            "Just a reminder: it is NOT selfish to put your recovery first. Rather, it’s necessary in order to make sure that everything else doesn’t come last.",
            "Small, baby steps each day add up to huge, giant leaps over time. So, please keep going.  Do NOT give up.",
            "You are not worthless, you are not a failure, and you are not a loser. That voice saying you are is just your depression trying to trick you.",
            "On those really difficult days when it seems impossible to go on and you feel like giving up, just remind yourself that you’ve been there before and you’ve survived every time, so you can survive this time, too.",
            "Even the darkest hour only has 60 minutes.",

            "Be proud of who you are, instead of ashamed of how someone else sees you.",
            "Crying doesn’t mean that you’re weak. Since birth, it’s always been a sign that you’re alive.",
            "Don’t dwell on those who hold you down. Instead, cherish those who helped you up.",
            "Never, ever, ever, ever, ever give up on yourself. As long as you keep on fighting, then you can beat your depression.",
            "Right now, stop whatever you’re doing and think of all the things in life that you are grateful for. This is a really easy way to lift your mood!",
            "Even if you can’t see any reason to keep on going, then it doesn’t mean that there aren’t any. It just means that in that moment, your depression is telling you even more lies than usual.",
            "Even the worst depressive episodes won’t last forever.",
            "Having depression does not mean you are weak, a failure, or worth less than anybody else. Please, don’t discriminate against yourself.",
            "If you need a confidence booster, then remind yourself of all the difficult things you’ve endured and overcome.",
            "Don’t ruin a good day by thinking about the possibility of a bad day in the future. Just enjoy the present moment :)",
            "As Confucius said, our greatest glory is not in never falling, but in rising every time we do.",
            "When your depression says, “Give up”, hope whispers, “Try one more time”.",
            "If you’re worried about telling a friend that you struggle with depression, then remind yourself that you are one of 350 million people battling this illness. So, odds are that even if you don’t know it, one or more of your friends are fighting depression too but are similarly scared to reach out to you.",
            "You are brave, courageous and strong for continuing to fight an illness that nobody else can see.",
            "One day, if not already, your refusal to give up will inspire someone else.",
            "Please remember that having a bad day does not mean you have – or will have – a bad life.",
            "Hope is one of the most powerful emotions a person can have. Combine it with determination and there’s no stopping you.",
            "In any given moment, we have two choices: to step forward into growth, or step backwards into safety. Stepping backwards may make us feel better in the short term, but stepping forwards will undoubtedly make us feel better in the long term.",
            "Never put the key to your happiness in someone else’s pocket.",
            "Just because you’re going through a rough patch, it doesn’t mean you always will be. Recovery is possible. We promise you.",
            "Just because you have a mental illness, it doesn't mean that you are that illness. You're still a person – just like everybody else.",
            "Recovery is a process. It takes time. It takes patience. It takes hard work. It takes everything you’ve got. But it IS possible.",
            "Sometimes, you just need to cry your eyes out to be able to keep going. And you know what? That's OK.",
            "Listen to positive people and ignore negative ones. After all, people who doubt, judge and disrespect you are not worth your energy.",
            "Healing is a process, not an event. Give it time. Good things happen to those who never give up.",
            "Mental illness is NOT a life sentence.",
            "Don’t be upset or caught up with things or people you cannot change. Instead, move on, let go, and concentrate on what you can change.",
            "When your depression tells you that it’s impossible to be free of it, it is LYING!",
            "Today, do one little thing to take better care of yourself. Then, do it again tomorrow.",
            "If you’re going through a hard time right now, make sure you do something today that makes you smile.",
            "When you’re struggling with depression, it’s really important to schedule some time in for daily self-care that gives you a lift.",
            "In the context of mental health, courage can be defined as the strength to ask for help.",
            "Starting today, stop keeping track of all the mistakes you’ve ever made. It’s time to forgive yourself and start being your own best friend.",
            "Always look for something positive in each day ... even if some days you need to look a little harder than others.",
            "Things may seem gloomy ahead and you may feel like giving up, but if you don’t keep going, then you will never know what is just around the corner.",
            "Sometimes it’s OK if the only thing you did today was breathe.",
            "Never be ashamed of a scar. It simply means that you were stronger than whatever tried to hurt you.",
            "You are NOT your illness. You have an individual story to tell. You have a name, a history, a personality. Staying yourself is part of the battle.",
            "It is not weak to say, “I’m not OK, and I need help”. On the contrary, it is brave. It is courageous. And in the end, it could save your life.",
            "Whenever you find yourself doubting how far you can go, just remind yourself how far you have come. Remind yourself of everything you have faced, all the battles you have won, and all the fears you have overcome.",
            "No matter who gives up on you, don’t you ever give up on yourself.",
            "Don’t carry your mistakes around with you. Instead, place them under your feet and use them as stepping stones.",
            "Never stop doing your best just because someone doesn’t give you credit for it.",
            "Sometimes the hardest part of the journey is believing you’re worth the trip – but we’re here to tell you that you are.",
            "Life is like a camera: focus on what’s important, capture the good times, develop from the negatives, and if things don’t work out, take another shot.",
            "Whatever you do, never forget that you’re human. It’s OK to have a meltdown. Just don’t unpack and live there. Cry it out and then refocus on where you are heading.",
            "Remember: Your depression does not define you. Your strength and your courage does.",
            "No one is ever too broken, too scarred or too far-gone to recover. If you keep on fighting, then anything’s possible.",
            "Never let someone who doesn’t know your value tell you how much you’re worth.",
            "Never, ever forget that you are special, and that you touch more lives than you’ll ever know.",
            "Maybe not today, tomorrow, or even in a year, but if you keep fighting and never give up, then things will eventually turn around, and you’ll be able to look back with relief and shout, ‘Yes! I made it!’",
            "Never forget that walking away from something unhealthy is a very brave thing to do – even if you stumble a little on your way out the door.",
            "Depression is a war. Don’t give up just because you lost a battle.",
            "Some days, life is all about your dreams, hopes and vision for the future. But on other days, all it’s about is trying to put one foot in front of the other. And you know what? That’s OK.",
            "Relationships are like glass – sometimes it’s better to leave them broken than to hurt yourself trying to put them back together.",
            "MYTH: You will be depressed forever. FACT: With the right help, you can beat your depression and go on to live a happy, healthy, fulfilling life.",
            "Stop beating yourself up. You are a work in progress, which means you get there a little at a time, not all at once.",
            "If sometimes all you want is for someone to acknowledge just how difficult struggling with depression is, then here’s your acknowledgement. We understand, and we’re proud of you for not giving up.",
            "Someday, everything will make sense. So for now, laugh at the confusion, smile through the tears, and keep reminding yourself that everything happens for a reason.",
            "Don’t compare your progress with that of others. After all, we all need our own time to travel our own distance.",
            "If you’ve ever had suicidal thoughts, then we’re glad you’re still here. Keep holding on.",
            "Finding the right therapist is a bit like dating ... sometimes you have to try a few before you find a good match.",
            "Don’t change so people will like you. Be yourself and the right people will love the real you.",
            "Don’t look back, because if you do, you might fall over what is in front of you.",
            "If you’re thinking about giving up today, just live until tomorrow. And when you do, read this again.",
            "Just because your path is different, it doesn’t mean you’re lost.",
            "Recovery sometimes involves doing what you should do instead of what you want to do. But in the end, it is so, so worth it.",
            "You may have to fight a battle more than once to win it, but if you never give up, you will get there eventually.",
            "The past is like an anchor that holds you back. You have to be able to let go of who you were in order to become who you want to be.",
            "When you find the courage to let go of what you can’t change, you’ll take a giant leap forward in your quest to recover from depression.",
            "Hating yourself will never, ever get you as far as loving yourself will.",
            "Beautiful things happen when you distance yourself from negativity.",
            "The world will not end if you do not figure everything out tonight, so stop pacing, stop sweating, and stop fretting. Instead, go to bed and start again tomorrow.",
            "There comes a time when you have to stop crossing oceans for people who wouldn’t jump puddles for you.",
            "When you focus on problems, you’ll have more problems. When you focus on possibilities, you’ll have more opportunities.",
            "No matter how far you’ve travelled down the wrong road, you can always turn around and get back on the right track.",
            "One of the most dangerous myths surrounding depression is that it is a life sentence, when in reality, if you seek the right help and keep on fighting, you CAN recover, and live a happy, healthy, depression-free life.",
            "When everything feels like an uphill struggle, just think of the view from the top.",
            "Life has many chapters, and one bad one does not mean that it’s the end of the book.",
            "If you’re feeling suicidal, write down your dreams. Block everything else out and picture them coming true. Use them as reasons to keep on fighting.",
            "Eat like you love yourself, move like you love yourself, speak like you love yourself, and act like you love yourself.",
            "Would you be as critical to your loved ones as you are to yourself? That’s what we thought. Please, be kind to yourself."
        ];
        // Function to fetch a random quote
        const randomIndex = Math.floor(Math.random() * quotes.length);
        const randomQuote = quotes[randomIndex];

        // Display the quote in the HTML
        document.getElementById('quote').innerText = '"'+randomQuote+'"';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        document.getElementById('loginButton').addEventListener('click', function () {
            window.location.href = "{% url 'login' %}";
        });
        document.getElementById('registerButton').addEventListener('click', function () {
            window.location.href = "{% url 'register' %}";
        });
    </script>
</body>
</html>
