{% extends 'users/base.html' %}

{% load static %}

{% block title %}About Us - Unlone{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div>
    <section id="hero">
        <div class="hero-text">
            <h1>Unlone</h1>
            <p>Your Mental Wellness Companion</p>
            <div class="cta-buttons">
                <button id="btnques">Take the Questionnaire</button>

            </div>
        </div>
    </section>

    <section id="features">
        <h2>Features</h2>
        <div class="feature-cards">
            <div class="card">
                <h3>Assessment</h3>
                <p>Simple questions to assess your mental health.</p>
            </div>
            <div class="card">
                <h3>Resources</h3>
                <p>Customized recommendations for every group.</p>
            </div>
            <div class="card">
                <h3>AI Chatbot</h3>
                <p>Talk to our AI companion for support.</p>
            </div>
            <div class="card">
                <h3>Severe Support</h3>
                <p>Access psychiatrist information for severe cases.</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}